[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slowapi = "*"
uvicorn = "*"
pydantic-settings = "*"
pyjwt = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
sentry-sdk = {extras = ["fastapi"], version = "*"}
sqlalchemy = "*"
alembic = "*"
fastapi-migrate = "*"
fastapi = "*"
sqlmodel = "*"

[dev-packages]

[requires]
python_version = "3.13"
